PORT=5000
MONGO_URI="mongodb+srv://shahzadwazir00786_db_user:a0hkHUqu0SmSqLTl@cluster0.jhqdraw.mongodb.net/tastybites"
JWT_SECRET="myjwtsecretkey"
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME="aqbk6ylf"
CLOUDINARY_API_KEY="371841377499332"
CLOUDINARY_API_SECRET="vRil_PlJrVkjonJ2RiLF03VOoog"

CLIENT_URL=http://localhost:5173
